@media screen and (min-width: 300px){
    .gallery .gallery-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .contact .contact-data .contact-items .contact-inner{ 
        flex-wrap: nowrap;
    }
}

@media (min-width: 400px){
    .header .header-info .buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .chefs .items{
        width: 100%;
    }
}

@media (min-width: 699px){
    .header .container{
        width: 75%;
    }

    .header .container .img img{
        width: 100%;
    }

    footer .ftr-subs .subs-group{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    footer .ftr-subs .subs-group input{
        width: 80%;
    }

    footer .ftr-subs .subs-group button{
        width: 20%;
    }
}

@media (max-width: 786px){
    .header .header-info h2{
        padding: 0px 25px 0px 25px;
    }

    .chefs{
        padding-top: 50px;
    }

    /* .chefs .container{
        width: 70%;
    } */
}



@media (min-width: 800px){
    .chefs .chefs-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    .chefs .items{
        width: 48.89%;
        margin: 8px 0;
    }

    .chefs .title p{
        padding-bottom: 20px;
    }

    .gallery .gallery-info{
        height: 1500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .gallery .gallery-info figure{
        width: 50%;
    }

    .contact .container{
        width: 95%;
    }

    .contact .contact-data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.9375rem;
    }

    .contact .contact-data .contact-items{
        width: 49%;
    }
}

@media (min-width: 1280px){
    .nav .nav-info{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav .logo h1{
        margin-bottom: 15px;
    }

    .nav .nav-info .links ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        padding-right: 70px;
    }
    
    .header .container{
        width: 90%;
    }

    .header .container .header-info{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .header .header-info .img img{
        width: 80%;
    }

    .header .header-info .desc{
        text-align: left;
        margin: auto;
    }
    /* .clr{
        clear: both;
    } */

    .header .header-info .text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .header .header-info .desc .buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header .header-info .desc .buttons .btn1{
        border-radius: 0px 100vh 100vh;
    }

    .chefs .chefs-info{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    
    .chefs .items{
        width: 33.33333%;
    }


    .gallery .gallery-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 1100px;
        margin-right: 15px;
    }
    
    .gallery .gallery-info figure{
        width: 32.89%;
        align-content: center;
    }

    .contact .contact-form form .input-group{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .contact-form form .input-group input{
        width: 50%;
    }

    
    footer .ftr-inner{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
    }

    footer .ftr-inner .ftr-about{
        width: 33.33%;
    }

}